@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

svg {
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
}

.tooltip {
    border: solid 1px green;
    position:absolute;
    padding: .5rem;
    text-align: center;
    border-radius: .3rem;
    font: 'Roboto', sans-serif;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    opacity: 0;
    background: #333;
    align-items: centerx;
    justify-items: center;
    justify-content: center;
    display: flex;
}